*{
  margin: 5px 10px;
}

button{
  background-color: rgb(66, 112, 112);
  border-radius: 20%;
  color: rgb(83, 83, 53);
  margin: 20px 30px;
  padding: 5px 10px;
}


.closed{
  display: none;
}
.open{
  display: block;
}